@media (min-width: 992px) {
	body {
		h1 {
			font-size: 6rem;
		}
		h2 {
			font-size: 4.5rem;
		}
		h3 {
			font-size: 3.5rem;
		}
		font-size: 2.5rem;
	}
	.formul {
		display: block;
	}
	.foot {
		.foot-menu {
			width: 20%;
		}
	}
	header {
		a:hover {
			transform: scale(1.2);
		}
		.menu-left {
			width: 65%;
		}
		.menu-right {
			display: flex;
		}
	}
	.stats {
		.stats-item {
			border-right: #280f91 solid 2px;
		}
	}
	.steps {
		display: flex;
		.step {
			width: 33%;
			margin: 0;
			height: 500px;
			.step-numb {
				left: 35%;
				top: -15%;
			}
		}
	}
	.add {
		display: block;
	}
	.menu-nav {
		.bar {
			display: none;
			height: 7 rem;
		}
		#menuitems {
			display: flex;
			border-bottom-left-radius: 25px;
			border-bottom-right-radius: 25px;
			justify-content: space-around;
			align-items: center;
			height: 100%;
		}
		.menu-item {
			text-align: center;
			align-self: center;
		}
	}
	.text-info {
		.about-us-bgc {
			margin-right: 100px;
		}
		.certif-bgc {
			margin-left: 100px;
		}
		.rev-bgc {
			margin-right: 100px;
			.rev {
				.rev-img {
					text-align: center;
				}
				img {
					width: 30%;
				}
			}
		}
	}
	.hero {
		button {
			width: 500px;
		}
	}
}
@media (max-width: 361px) {
	header {
		font-size: 1.5rem;
	}
}