.heroimg {
    background-image: url(../images/miasta/8lublin/lublintelefon/lublintel.avif);
}
    .secimg {
        background-image: url(../images/miasta/8lublin/lublintelefon/lublingirltel.avif);
    }
.graph {
    background-image: url(../images/miasta/0każdastrona/każdastronakomp/3dgrafikaksiazki.avif);
}
@media (min-width: 992px) {
    .heroimg {
        background-image: url(../images/miasta/8lublin/lublinkomputer/lublin.avif);
    }
    .secimg {
        background-image: url(../images/miasta/8lublin/lublinkomputer/lublingirl.avif);
    }
    
}