@use './colors' as *;
@use './animations' as *;
// Globalne ustawienia

//PRZEDMIOTY
.row {
	display: flex;
	justify-content: center;
}
.offer-subject.show {
	animation: showleft 2s forwards;
}
.cities-bgc {
	background-color: rgba($color: white, $alpha: 0.3);
	padding-bottom: 40px;
	h2 {
		margin-bottom: 5px;
	}
	h3 {
		padding: 0;
		margin-bottom: 40px;
	}
	.short-list {
		display: flex;
		justify-content: center;
		button {
			width: 300px;
		}
		ul.dropdown-menu {
			width: 290px;
			padding-left: 10px;
			font-size: 1.5rem;
		}
	}
}
.offer-subject {
	transform: translateX(-50%);
	overflow: hidden;
	opacity: 0;
	padding-top: 50px;
	position: relative;
	.sub-but {
		padding-bottom: 10px;
		display: flex;
		justify-content: space-around;
	}

	a:hover {
		scale: 0.9;
		color: white;
	}
	a:first-of-type {
		background-color: #1b25ac;
	}
	a:last-of-type {
		background-color: #a12665;
	}
	p {
		margin: 40px 40px 40px 40px;
		text-align: center;
	}

	.blue-text {
		color: #1B25AC;
	}
}

.subject {
	height: 300px;
	width: 300px;
	border-radius: 10px;
	margin: 20px;
	box-shadow: 3px 3px 10px #2e2e2e2e;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	.sub-name {
		background-color: #e9fcff;
		padding: 10px 4px;
		font-weight: bold;
		color: #280f91;
		width: 200px;
		text-align: center;
	}
}
.subject1 {
	background-image: url(../images/telefon/kafelki/przedmioty/matmatel.avif);
}

.subject7 {
	background-image: url(../images/telefon/kafelki/przedmioty/angielskitel.avif);
}
.subject6 {
	background-image: url(../images/telefon/kafelki/przedmioty/polskitel.avif);
}
.subject5 {
	background-image: url(../images/telefon/kafelki/przedmioty/chemiatel.avif);
}
.subject4 {
	background-image: url(../images/telefon/kafelki/przedmioty/fizykatel.avif);
}
.subject3 {
	background-image: url(../images/telefon/kafelki/przedmioty/informatykatel.avif);
}
.subject2 {
	background-image: url(../images/telefon/kafelki/przedmioty/angielskitel.avif);
}

//REVIEWS

/* Stylizacja dla kontenera opinii */
.reviews__box-wrapper {
	position: relative;
	overflow: hidden; /* Ukrywa zawartość poza kontenerem */
	width: 100%;
}

.reviews__boxes {
	display: flex;
	transition: transform 0.3s ease-in-out; /* Płynne przewijanie */
}

.reviews__box {
	min-width: 100%;
	flex: 0 0 50%; /* Dwa boxy widoczne na raz */
	box-sizing: border-box;
	padding: 100px;
}

.reviews__arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	border: none;
	cursor: pointer;
	font-size: 24px;
	padding: 10px;
	z-index: 10;
}

.reviews__arrow--left {
	left: 10px;
}

.reviews__arrow--right {
	right: 10px;
}

.atuty {
	display: flex;
	justify-content: center;
	align-items: center;
}
.atut {
	background-color: white;
	text-align: center;
	margin: 30px;
	height: 200px;
	width: 200px;
	border: 2px solid black;
	border-radius: 10%;
	box-shadow: 7px 3px 3px black;
	i {
		font-size: 60px;
		padding-bottom: 30px;
		padding-top: 20px;
	}
}
.card.show {
	animation: showleft 0.5s forwards;
}
.card {
	margin: 50px;
	background: none;
	border: none;
	transform: translateY(50%);
	opacity: 0;
}
.card-title {
	color: #280f91;
	font-size: 2.5rem;
	text-align: center;
	font-weight: bold;
}

.card-body {
	background-color: white;
	color: #280f91;
	.card-text {
		li {
			font-size: 1.5rem;
		}
	}
	h3 {
		text-shadow: none;
	}
}
.card-group > .card:not(:first-child) .card-img-top,
.card-group > .card:not(:last-child) .card-img-top {
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}
.nav-tabs {
	background-color: white;
	.nav-link {
		font-weight: bold;
		color: black;
	}
}
.tab-content > .active {
	background-color: #ff3ea2;
}
.nav-tabs {
	display: flex;
	justify-content: space-around;
}

//CENNIK

.tech {
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	.tech-big {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 60%;
	}
	h3 {
		text-decoration: underline;
		color: #280f91;
		text-shadow: none;
	}
	img {
		max-height: 150px;
	}
	.tech-type__img {
		text-align: center;
	}
	.tech-type {
		display: flex;
		justify-content: space-around;
		width: 100%;
		&__text {
			text-align: center;
			text-shadow: 1px 1px 1px black;
			font-weight: bold;
		}
	}
}
.add.show {
	animation: showleft 1s forwards;
}
.add {
	height: auto;
	width: 100%;
	background-image: url(../images/telefon/dekoracyjne/strzalkagradienttel.avif);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 40px 0px;
	position: relative;
	display: none;
	transform: translateX(-100%);
	opacity: 0;
	overflow: hidden;
	.add-text {
		width: 70%;
		color: white;
		margin: 30px 30px;
		padding-top: 30px;
	}
	a {
		color: #1b25ac;
		padding: 5px 20px;
		margin: 20px 100px;
		background-color: white;
	}
	.add-img {
		img {
			width: 300px;
		}
		position: absolute;
		top: 10px;
		right: 10px;
	}
}
.form-bgc {
	background-color: #00bfdb;
	border-bottom: 2px solid #280f91;
	border-top: 2px solid #280f91;
}
.pricebox {
	padding-top: 40px;
	text-align: center;

	form {
		.answer-bo {
			display: flex;
			flex-wrap: wrap;
		}
		input[type='radio'] {
			-webkit-appearance: none;
			width: 15px;
			height: 15px;
			border: 1px solid #fab800;
			border-radius: 50%;
			outline: none;
			box-shadow: 0 0 5px 0px #ff3ea2 inset;
			margin-left: 40px;
		}
		input[type='radio']:hover {
			box-shadow: 0 0 5px 0px #ff3ea2 inset;
		}
		input[type='radio']:before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			margin: 0 auto;
			border-radius: 50%;
		}
		input[type='radio']:checked:before {
			background: #ff3ea2;
		}
		label {
			margin-left: 12px;
			font-size: 2rem;
		}
		text-align: left;
		p {
			margin-top: 30px;
			font-weight: bold;
			font-size: 2.5rem;
		}
	}
	button {
		margin: 20px;
		background-color: #ff3ea2;
	}
}
#Jakzaczac,
#contactForm {
	padding-top: 100px;
}
#change {
	background-color: rgba($color: white, $alpha: 0.2);
	margin-bottom: 20px;
	text-align: left;
}
.steps {
	margin-top: 100px;
	display: block;

	justify-content: space-between;
	align-items: center;
	.step1.show {
		animation: showscale 1s forwards;
	}
	.step2.show {
		animation: showscale 1s 0.5s forwards;
	}

	.step3.show {
		animation: showscale 1s 1s forwards;
	}
	.step1 {
		opacity: 0;
	}
	.step2 {
		opacity: 0;
	}
	.step3 {
		opacity: 0;
	}
	.step {
		min-width: 200px;
		position: relative;
		background-color: #e9fcff;
		color: #1b25ac;
		margin-top: 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
		.step-numb {
			position: absolute;
			transform: translateY(-50%);
			width: 150px;
			height: 150px;
			background-color: #00bfdb;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
			font-size: 6rem;
			font-weight: bold;
			p {
				animation: pulse 3s infinite;
			}
		}
		a {
			background-color: #ff3ea2;
		}
	}

	.step-text {
		padding: 100px 30px;
		font-size: 2rem;
		text-align: center;
	}
}
.step:first-of-type .step-numb {
	background-color: #ff3ea2;
}
.step:last-of-type .step-numb {
	background-color: #fdcd12;
}
.faq-bgc {
	background-color: rgba($color: white, $alpha: 0.2);
}
.faq-section {
	padding: 20px;
	padding-bottom: 100px;
	margin: 50px auto;

	border-radius: 20px;
	color: #280f91;
	h2 {
		margin-bottom: 50px;
		color: #280f91;
	}
}

.faq-item {
	border-bottom: 1px solid #280f91;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.faq-question {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	font-weight: bold;
}

.faq-toggle {
	font-size: 30px;
	font-weight: bold;
}

.faq-answer {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease;
	font-size: 1.8rem;
}

.faq-item.active .faq-answer {
	max-height: 300px; /* dostosuj w zależności od długości odpowiedzi */
}

.faq-item.active .faq-toggle {
	transform: rotate(45deg);
}

.question {
	display: none;
}
.question.active {
	display: block;
}
.error {
	color: red;
	display: none;
}
.formuser {
	height: 100vh;
	background-color: rgba($color: #ff3ea2, $alpha: 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 40px;
}
.contactForm1 {
	max-width: 600px;
	margin: auto;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
	background-color: rgba($color: #f9f9f9, $alpha: 0.3);

	.question {
		display: none; /* Domyślnie wszystkie pytania są ukryte */
		opacity: 0;
		transition: opacity 0.5s ease, transform 0.5s ease;
		transform: translateY(20px);
		text-align: center;
	}

	.question.active {
		display: block;
		opacity: 1;
		transform: translateY(0);
	}

	label {
		display: block;
		margin-bottom: 5px;
		font-weight: bold;
	}

	input,
	textarea {
		width: calc(100% - 20px);
		padding: 10px;
		margin-bottom: 10px;
		border: 1px solid #ccc;
		border-radius: 4px;
	}

	button {
		padding: 10px 15px;
		border: none;
		border-radius: 4px;
		background-color: #007bff;
		color: white;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}

	button:hover {
		background-color: #0056b3;
	}

	.error {
		display: none;
		color: #e74c3c;
		font-size: 0.875em;
	}

	.error.show {
		display: block;
	}
}
.text-info {
	overflow: hidden;
	font-size: 2rem;
	p {
		margin-top: 40px;
		line-height: 1.5;
		color: white;
	}
	h2 {
		margin-bottom: 40px;
	}
	.about-us-bgc.show,
	.certif-bgc.show,
	.rev-bgc.show,
	.benefits-bgc.show {
		animation: showleft 2s forwards;
	}
	.about-us-bgc {
		background-color: #00bfdb;
		.about-us {
			width: 80%;
			padding-left: 40px;
			text-align: justify;

			img {
				width: 100%;
				margin-top: 20px;
				border-radius: 20px;
			}
		}
	}
	.certif-bgc {
		background-color: #ff3ea2;
		.certif {
			width: 80%;
			padding-right: 40px;
			text-align: center;
			.row {
				justify-content: space-around;
			}
		}
		.certif-img {
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			margin-bottom: 30px;
			border-radius: 20px;
		}
		.orly {
			background-image: url(../images/telefon/certyfikaty/orly21tel.avif);
			height: 230px;
			width: 200px;
		}
		.fgz22 {
			height: 230px;
			width: 230px;
			background-image: url(../images/telefon/certyfikaty/zaufanie22tel.avif);
		}
		.fgz21 {
			height: 230px;
			width: 230px;
			background-image: url(../images/telefon/certyfikaty/zaufanie21tel.avif);
		}
		.lz {
			height: 300px;
			width: 430px;
			background-image: url(../images/telefon/certyfikaty/laur21certtel.avif);
		}
	}
}
.rev-bgc {
	background-color: #e9fcff;
	transform: translateX(-50%);
	opacity: 0;
	margin-right: 20px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;

	h3 {
		color: #280f91;
	}
	.rev {
		width: 80%;
		padding-left: 40px;
		text-align: center;
		p {
			color: #280f91;
		}
		img {
			width: 30%;
			max-width: 300px;
			min-width: 200px;
			margin: 50px;
		}
		.rev-img {
			display: flex;
			justify-content: center;
		}
	}
	button {
		background-color: #ff3ea2;
		padding: 10px 5px;
		color: white;
		border: none;
		margin-top: 20px;
	}
	.reviews {
		text-align: center;
	}
}

.last-bgc {
	transition: all 0.5s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0px;
	margin-top: 100px;
}
.last-bgc-left {
	transform: translateX(-50%);
	opacity: 0;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	margin-right: 20px;
}
.last-bgc-right {
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	margin-left: 20px;
	transform: translateX(50%);
	opacity: 0;
}
.benefits-bgc {
	background-color: #00bfdb;
	text-align: center;
	.ben-box {
		background-color: #e9fcff;
		width: 300px;
		height: 300px;
		margin: 0px 10px;
		border-radius: 20px;
		.ben-img {
			img {
				height: 200px;
			}
		}
	}
	iframe {
		display: block;
		margin: 0 auto;
	}
}
.subdown {
	width: 300px;
}

.textse {
	padding: 20px;
	line-height: 1;
	font-size: 1.6rem;
	text-align: justify;
	h3 {
		font-size: 2rem;
	}
}

.foot {
	display: flex;
	overflow: hidden;
	justify-content: center;
	background-color: rgba($color: black, $alpha: 0.5);
	font-size: 1.5rem;

	.foot-menu {
		width: 33%;
		padding-left: 10px;
	}
	p:first-child {
		font-weight: bold;
	}
	p {
		padding-top: 5px;
	}
}

footer {
	text-align: center;
	padding: 20px 0 20px 0;
	color: #280f91;
	font-size: 1.2rem;
}
.items {
	padding-bottom: 10px;
	span {
		padding: 0 15px;
	}
	span:hover {
		background-color: rgba($color: #ff3ea2, $alpha: 0.3);
		border-radius: 15px;
		cursor: pointer;
	}
}
.center-button {
	margin-top: 20px;
	text-align: center;
	font-weight: bold;
}
@media (min-width: 992px) {
	.reviews__box {
		min-width: 50%; /* Na szerokich ekranach każda opinia zajmuje 50% szerokości wrappera */
	}
	body {
		h1 {
			font-size: 6rem;
		}
		h2 {
			font-size: 4.5rem;
		}
		h3 {
			font-size: 3.5rem;
		}
		font-size: 2.5rem;
	}
	.tech {
		flex-direction: row;
	}
	.formul {
		display: block;
	}
	.foot {
		.foot-menu {
			width: 20%;
		}
	}
	header {
		a:hover {
			transform: scale(1.1);
		}
		.menu-left {
			display: flex;
			justify-content: start;
			width: 80%;
			span {
				margin: 0px 50px;
				margin-left: 0;
			}
		}
		.menu-right {
			display: flex;
		}
	}
	.stats {
		.stats-item {
			border-right: #280f91 solid 2px;
		}
	}
	.steps {
		display: flex;
		.step {
			width: 33%;
			margin: 0;
			height: 500px;
		}
	}
	.add {
		display: block;
	}
	.menu-nav {
		top: 43px;
		.bar {
			display: none;
			height: 7 rem;
		}
		.menu-nav-flex {
			display: flex;
			justify-content: end;
		}
		#menuitems {
			display: flex;
			border-bottom-left-radius: 25px;
			border-bottom-right-radius: 25px;
			justify-content: space-between;
			align-items: center;
			padding: 0px 40px;

			height: 100%;
			img {
				display: flex;
			}
		}
		.menu-item:hover {
			border-top: #1b25ac 2px solid;
		}
		.menu-item {
			padding: 0px 10px;
			border-top: white 2px solid;
			transition: border-top 0.2s;
		}
	}
	.hero {
		background-image: url(../images/hero.avif);
		h1 {
			margin-top: 100px;
		}
		a {
			width: 500px;
		}
		.btn{
			padding: 30px 0px;
		}
	}
	.text-info {
		.last-bgc-left {
			margin-right: 100px;
		}
		.last-bgc-right {
			margin-left: 100px;
		}
	}
}
@media (max-width: 361px) {
	header {
		font-size: 1.5rem;
	}
}
