@use './colors' as *;
:root {
	font-size: 10px;
}

body {
	box-sizing: border-box;
	background: linear-gradient(90deg, rgba(65, 132, 200, 1) 0%, rgba(226, 110, 187, 1) 100%);
	h1 {
		font-size: 4rem;
		font-family: 'Kodchasan', sans-serif;
	}
	h2 {
		font-size: 3rem;
		font-family: 'Kodchasan', sans-serif;
	}
	h3 {
		font-size: 2.5rem;
		font-family: 'Kodchasan', sans-serif;
	}
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
}
a {
	text-decoration: none;
	color: black;
}
.container {
	max-width: 1400px;
}

header {
	font-size: 1.8rem;
	background-color: #4ae8ff;
	.top {
		display: flex;
		padding: 5px;
	}
	span {
		padding: 2px 20px;
	}
	.menu-right {
		width: 35%;
		justify-content: end;
		span {
			background-color: #ff3ea2;
			color: #e9fcff;
		}
	}
	.menu-left {
		margin: auto;
		width: 65%;
		justify-content: space-between;
		span {
			background-color: #e9fcff;
			color: #1b25ac;
		}
	}
	a {
		transition: 0.3s;
	}
}
// NAV
.menu-nav {
	position: fixed;
	width: 100vw;
	z-index: 100;
	top: 50px;
	animation: nav-top 1s linear 1 forwards;
	animation-play-state: paused;
	animation-delay: calc(var(--scroll) * -40s);
	color: #280f91;
	.bar {
		text-align: center;
		background-color: white;
		cursor: pointer;
		width: 100vw;
	}
	.menu {
		background-color: white;
		img {
			height: 80px;
		}
		.menu-item {
			font-weight: bold;
			text-transform: uppercase;
			margin-left: 10px;
			font-size: 2rem;
		}
	}
	#menuitems {
		display: none;
	}
}
//GŁÓWNA
.hero {
	height: 100vh;
	background-image: url(../images/Zdjęcia/zdjęcie\ tytuł\ strony.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 20px;

	h1 {
		color: white;
		text-shadow: 5px 5px 5px $darkcolor;
	}
	button {
		width: 500px;
		margin-top: 20px;
		padding: 20px 2px;
		margin-top: 40px;
		color: white;
		border: none;
	}
	button:first-of-type {
		background-color: #ff3ea2;
	}
	button:last-of-type {
		background-color: #4ae8ff;
	}
}

//STATS
.stats {
	background-color: rgba($color: white, $alpha: 0.2);
	.stats-item {
		text-align: center;
		height: 160px;
		border-right: #280f91 solid 2px;
		color: #280f91;
		margin: 20px 0px;
		span {
			font-weight: bold;
			font-size: 4rem;
		}
	}
	.stats-item:last-of-type {
		border: none;
	}
}
//REVIEWS

.reviews {
	&__box {
		position: relative;
		margin: 2em;
		padding: 2em;
		border-radius: 8px;
		box-shadow: 3px 3px 10px #2e2e2e2e;
		transition: transform 0.3s;

		&:hover {
			transform: scale(0.95);
		}
	}
	&__box-img {
		position: absolute;
		top: 8%;
		left: 75%;
		transform: translate(-50%, -50%);

		img {
			width: 80px;
			height: 80px;
			object-fit: cover;
			border-radius: 50%;
		}
	}
	&__box-quote {
		margin-bottom: 1em;
		font-size: 3rem;
		color: #1b25ac;
	}
	&__box-text {
		margin-bottom: 1em;
		font-size: 1.4rem;
		color: black;
	}
}
.atuty {
	display: flex;
	justify-content: center;
	align-items: center;
}
.atut {
	background-color: white;
	text-align: center;
	margin: 30px;
	height: 200px;
	width: 200px;
	border: 2px solid black;
	border-radius: 10%;
	box-shadow: 7px 3px 3px black;
	i {
		font-size: 60px;
		padding-bottom: 30px;
		padding-top: 20px;
	}
}
//przedmioty

.subject {
	height: 150px;
	width: 150px;
	border: #ff3ea2 7px solid;
	border-radius: 20px;
	margin: 20px;
	background-position: center;
	background-size: 300px auto;
	background-repeat: no-repeat;
	box-shadow: 3px 3px 10px #2e2e2e2e;
}
.subject1 {
	background-image: url(../img/mat-but.png);
}
.subject7 {
	background-image: url(../img/eng-but.png);
}
.subject6 {
	background-image: url(../img/inf-but.png);
}
.subject5 {
	background-image: url(../img/inf-but.png);
}
.subject4 {
	background-image: url(../img/chem-but.png);
}
.subject3 {
	background-image: url(../img/phy-but.png);
}
.subject2 {
	background-image: url(../img/biol-but.png);
}
.row {
	display: flex;
	justify-content: center;
	align-items: center;
}
.card {
	margin: 50px;
	background: none;
}
.card-body {
	background-color: white;
}
.card-group > .card:not(:first-child) .card-img-top {
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}
.card-group > .card:not(:last-child) .card-img-top {
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}
.nav-tabs {
	background-color: white;
	.nav-link {
		font-weight: bold;
		color: black;
	}
}
.tab-content > .active {
	background-color: #ff3ea2;
}
.nav-tabs {
	display: flex;
	justify-content: space-around;
}
//CENNIK

@media (min-width: 992px) {
	body {
		h1 {
			font-size: 6rem;
		}
		h2 {
			font-size: 4.5rem;
		}
		h3 {
			font-size: 3.5rem;
		}
		font-size: 2.5rem;
	}
	header {
		a:hover {
			transform: scale(1.2);
		}
	}
	.menu-nav {
		.bar {
			display: none;
		}
		#menuitems {
			display: flex;
			border-bottom-left-radius: 25px;
			border-bottom-right-radius: 25px;
			justify-content: space-around;
			align-items: center;
			height: 7rem;
		}
		.menu-item {
			text-align: center;
			align-self: center;
		}
	}
}
@media (max-width: 361px) {
	header {
		font-size: 1.5rem;
	}
}

@keyframes nav-top {
	to {
		top: 5px;
	}
}
