.bgimg {
    background-image: url(../images/przedmioty/komputer/zdjęcia/kalkulatorpoziomowiekszy.avif);
}
.firstimg {
    background-image: url(../images/przedmioty/telefon/zdjecia/plecakkalkulatortel.avif);

}
.secondimg {
    background-image: url(../images/przedmioty/telefon/zdjecia/ksiazkitel.avif);
}
.thirdimg {
    background-image: url(../images/przedmioty/telefon/zdjecia/tablicatel.avif);
}
.dices {
    background-image: url(../images/przedmioty/telefon/grafiki/kostkitel.avif);
}
@media (min-width: 992px) {
	.sec {
		.firstimg {
			background-image: url(../images/przedmioty/komputer/zdjęcia/kalkulatorpion.avif);
			background-position: top;
		}
        .secondimg {
            background-image: url(../images/przedmioty/komputer/zdjęcia/ksiazki.avif);
        }
        .thirdimg {
            background-image: url(../images/przedmioty/komputer/zdjęcia/tablica.avif);
        }
	}
}
@media (max-height: 420px) {
    .thirdimg {
        background-image: url(../images/przedmioty/komputer/zdjęcia/tablica.avif);
    }
}