
:root {
	font-size: 10px;
}
body {
	box-sizing: border-box;
	h1,
	h2,
	h3 {
		font-family: 'Kodchasan', sans-serif;
		font-weight: bold;
		color: #280f91;
		text-align: center;
		text-shadow: 1px 0.25px 0.25px rgba(40, 15, 145, 0.4);
		margin: 20px 0;
	}
	h1 {
		font-size: 5rem;
	}
	h2 {
		font-size: 3rem;
	}
	h3 {
		font-size: 2.5rem;
	}

		font-family: 'Montserrat', sans-serif;
		font-size: 2rem;
		color: #280f91;
		text-shadow: .5px 0.12px 0.12px rgba(40, 15, 145, 0.4);
	
}
.container {
	max-width: 1440px;
	padding: 0;
}
header {
	font-size: 2rem;
	.top {
		display: flex;
		padding: 3.5px;
		align-items: center;
	}
	span {
		padding: 2px 10px;
		height: 30px;
		line-height: 24px;
	}
	.menu-right {
		display: none;
		width: 35%;
		justify-content: end;
		margin-right: 40px;
	}
	.menu-left {
		width: 100%;
		margin: 0px 40px;
		text-align: center;
		.phone {
			width: 40px;
		}
	}
}
.formul {
	display: none;
}
.menu-nav {
	position: fixed;
	width: 100vw;
	top: 36px;
	.bar {
		text-align: center;
		width: 100vw;
		border: none;
		height: 50px;
		font-size: 3rem;
	}
	.menu {
		font-size: 2rem;
		text-align: center;
		img {
			height: 80px;
		}
		.menu-item {
			font-weight: bold;
			padding: 50px 0 50px 0;
		}
	}
	#menuitems {
		display: none;
		img {
			display: none;
		}
	}
}
.call {
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 50%;
	height: 80px;
	width: 80px;
	text-align: center;
	font-size: 40px;
	padding-top: 10px;
}
.foot {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	font-size: 1.6rem;
	.foot-menu {
		padding-left: 10px;
		a {
			color: #280f91;
			p {
				font-weight: normal;
				font-size: 1.6rem;
			}
		}
	}
	p:first-child {
		font-weight: bold;
		font-size: 1.8rem;
	}
	p {
		padding-top: 5px;
	}
}
footer {
	text-align: center;
	padding: 20px 0 20px 0;
	font-size: 1.2rem;
}
.hero {
        .heroimg { 
            width: 100%;
            height: 500px;
        }
		.herotext {
			padding: 10px;
		}
}
.herobtn {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.herobtnitem {
	text-align: center;
	padding: 30px;
	margin: 10px;
	min-width: 340px;
}
.row {
	display: flex;
	justify-content: center;
}
.stats {
	width: 100%;
	margin: 0;
	.stats-item {
		text-align: center;
		height: 160px;
		margin: 20px 0px;
		span {
			font-weight: bold;
			font-size: 4rem;
		}
	}
	.stats-item:last-of-type {
		border: none;
	}
}
.textcity {
	text-align: justify;
	padding: 10px;
}
.buttin {
	text-align: center;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.graph {
	display: none;
}
.secimg {
	width: 100%;
	height: 600px;
	margin-top: 30px;
}
@media (min-width: 992px) {
	body {
		h1 {
			font-size: 6rem;
		}
		h2 {
			font-size: 4.5rem;
		}
		h3 {
			font-size: 3.5rem;
		}
		
			font-size: 2.5rem;
	
		
	}
	.formul {
		display: block;
	}
	.foot {
		flex-direction: row;
		font-size: 1.8rem;
		.foot-menu {
			width: 20%;
		}
		p:first-child {
			font-size: 2.2rem;
		}
	}
	header {
		a:hover {
			transform: scale(1.1);
		}
		.menu-left {
			display: flex;
			justify-content: start;
			width: 80%;
			span {
				margin: 0px 50px;
				margin-left: 0;
			}
		}
		.menu-right {
			display: flex;
		}
	}
	.menu-nav {
		top: 43px;
		.bar {
			display: none;
			height: 7 rem;
		}
		.menu-nav-flex {
			display: flex;
			justify-content: end;
		}
		#menuitems {
			display: flex;
			border-bottom-left-radius: 25px;
			border-bottom-right-radius: 25px;
			justify-content: space-between;
			align-items: center;
			padding: 0px 40px;
			height: 100%;
			img {
				display: flex;
			}
		}
		.menu-item:hover {
			border-top: #1b25ac 2px solid;
		}
		.menu-item {
			border-top: white 2px solid;
			transition: border-top 0.2s;
		}
		.menu {
			.menu-item {
				padding: 0 10px;
				margin-left: 45px;
			}
		}
	}
	.call {
		display: none;
	}
.heroflex {
	display: flex;
	padding-top: 100px;
	.heroimg {
		width: 48%;
		height: auto;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
	}
	.herotext {
		width: 48%;
		height: auto;
	}
}
.herobtn {
	flex-direction: row;
	justify-content: center;
	padding: 30px 0 30px 0;
}
.sec {
	display: flex;
	align-items: center;
	.textcity {
		width: 60%;
	}
	.secimg {
		width: 40%;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
		border-bottom: solid 20px #ff3ea2;
		border-top: solid 20px #ff3ea2;
		border-left: solid 20px #ff3ea2;
	}
}
	.textcity2 {
		line-height: 3;
		position: relative;
		p {
			text-align: center;
		}
	}

}
@media (min-width: 1440px) {
	.heroflex {
		.heroimg {
			border-top-left-radius: 30px;
			border-bottom-left-radius: 30px;
		
		}
	}
	.secimg {
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		border: solid 20px #ff3ea2;
	}
	.graph {
		position: absolute;
		bottom: 300px;
		right: 100px;
		height: 200px;
		width: 200px;
		display: block;
	}
}
