@use './animations' as *;
body {
	background: linear-gradient(
		90deg,
		rgba(255, 162, 229, 1) 0%,
		rgba(200, 196, 234, 1) 50%,
		rgba(191, 222, 255, 1) 100%
	);
}
a {
	text-decoration: none;
	color: white;
	overflow: hidden;
}
header {
	background-color: #6fa5dd;
	.menu-right {
		span {
			background-color: #A12665;
			color: #e9fcff;
		}
	}
	.menu-left {
		span {
			background-color: #e9fcff;
			color: #280f91;
		}
	}
}
.menu-nav {
	z-index: 100;
	animation: nav-top 0.3s linear 1 forwards;
	animation-play-state: paused;
	animation-delay: calc(var(--scroll) * -40s);
	.bar {
		background-color: white;
		cursor: pointer;
		color: #280f91;
	}
	.menu {
		background-color: white;
		.menu-item {
			color: #280f91;
		}
	}
}
.call {
	background-color: white;
	animation: call 3s infinite;
	z-index: 10;
	a {
		color: #280f91;
	}
	svg {
		scale: 2;
	}
}
.foot {
	background-color: rgba($color: black, $alpha: 0.5);
}
footer {
	color: #280f91;
}
.hero {
    background-image: url(../images/miasta/0każdastrona/każdastronatel/plecakkalkulatortel.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .herobg {
        background-color: rgba($color: white, $alpha: .8);
        .heroimg {
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
.stats {
	background-color: rgba($color: white, $alpha: 0.2);
	.stats-item {
		border-right: none;
		color: #280f91;
	}
}
.purple {
	color: #A12665;
	font-weight: bold;
}
.herobtn {
	.herobtnitem:first-of-type {
		background-color: #280f91;
	}
}
.herobtnitem {
	background-color: #A12665;
	box-shadow: 5px 5px 5px rgba($color: #333, $alpha: .5);
	transition: 1s;
}
.herobtnitem:hover {
	color: white;
	scale: .95;
}
.secimg {
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: local;
}

.graph {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
svg {
	transform: translateY(-10%);
}
@media (min-width: 992px) {
	.stats {
		.stats-item {
			border-right: #280f91 solid 2px;
		}
	}
	.secimg {
		background-attachment: fixed;
		background-size: 50%;
		background-position: right;
	}
}
