@use './animations' as *;
body {
	background: linear-gradient(
		90deg,
		rgba(255, 162, 229, 1) 0%,
		rgba(200, 196, 234, 1) 50%,
		rgba(191, 222, 255, 1) 100%
	);
}
a {
	text-decoration: none;
	color: white;
	overflow: hidden;
}
header {
	background-color: #6fa5dd;
	.menu-right {
		span {
			background-color: #A12665;
			color: #e9fcff;
		}
	}
	.menu-left {
		span {
			background-color: #e9fcff;
			color: #280f91;
		}
	}
}
.menu-nav {
	z-index: 100;
	animation: nav-top 0.3s linear 1 forwards;
	animation-play-state: paused;
	animation-delay: calc(var(--scroll) * -40s);
	.bar {
		background-color: white;
		cursor: pointer;
		color: #280f91;
	}
	.menu {
		background-color: white;
		.menu-item {
			color: #280f91;
		}
	}
}
.call {
	background-color: white;
	animation: call 3s infinite;
	z-index: 10;
	a {
		color: #280f91;
	}
}
.foot {
	background-color: rgba($color: black, $alpha: 0.5);
}
footer {
	color: #280f91;
}
.hero {
    background-image: url(../images/miasta/0każdastrona/każdastronatel/plecakkalkulatortel.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .herobg {
        background-color: rgba($color: white, $alpha: .8);
        .heroimg {
            
            background-position: top;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }
}
